body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  width: 70px;
  padding: 20px;
  margin: 2px;
  font-size: 20px;
}

#calc_container {
  display: inline-flex;
  flex-direction: column;
  background-color: rgb(125, 119, 133);
  border-radius: 15px;
  padding: 10px;
  gap: 5px;
  flex: 0 1 auto;
}

#panel {
  display: flex;
  box-sizing: border-box;
  height: 70px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  background-color: rgb(219, 196, 167);
  border-radius: 3px;
  padding: 5px;
}

#button_container {
  display: flex;
  background-color: rgb(171, 227, 227);
  box-sizing: border-box;
  border-radius: 3px;
}

#current {
  font-size: 30px;
}

button:hover {
  transform: scale(1.1);
}
